body {
    background-color: rgb(223, 244, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.main {
    width: 90%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    color: rgb(100, 100, 100);
}

.statu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.statu .one {
    color: red;
    background-color: rgba(255, 84, 84, 0.507);
    padding: 10px;
    border-radius: 10px;
}

.statu .two {
    color: green;
    background-color: rgba(84, 255, 84, 0.507);
    padding: 10px;
    border-radius: 10px;
}

.secondSection {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: row; */
    width: 100%;
    gap: 10px;

}

.card {
    width: 300px;
    background-color: #ffffff;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-top: 8px solid rgb(28, 32, 117);
}
.card .cent {
    text-align: center;
    color: rgb(28, 32, 117);
}
.card .line {
    width: 90%;
    height: 1px;
    background-color: rgb(115, 93, 93);
    margin: 10px auto;
}

.card .text {
    direction: rtl;
    color: rgb(100, 100, 100);
}

.text .circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(35, 45, 243, 0.498);
    color: rgb(8, 8, 113);
    padding: 2px;
}

.text .colo {
    font-weight: bold;
}
.end-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.end-card h3 {
    background-color: rgba(84, 255, 84, 0.507);
    color: green;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    font-size: 20px;
}

.end-card h4 {
    background-color: rgba(84, 158, 255, 0.507);
    color: rgb(0, 51, 128);
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    font-size: 20px;
}